.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background-size: contain;
    grid-auto-rows: 240px;
}

.card {
    background-size: cover;
}